= field_set_tag nil, id: 'service_area-name-options', class: 'input-search-filter' do
  = label_tag 'service_area', t('labels.select_county')
  = select_tag :service_area, options_for_select([['All', ''], ['Adams'], ['Asotin'], ['Benton'], ['Chelan'], ['Clallam'], ['Clark'], ['Colombia'], ['Cowlitz'], ['Douglas'], ['Ferry'], ['Franklin'], ['Garfield'], ['Grant'], ['Grays Harbor'], ['Island'], ['Jefferson'], ['King'], ['Kitsap'], ['Kittitas'], ['Klickitat'], ['Lewis'], ['Lincoln'], ['Mason'], ['Okanogan'], ['Pacific'], ['Pend Oreille'], ['Pierce'], ['San Juan'], ['Skagit'], ['Skamania'], ['Snohomish'], ['Spokane'], ['Stevens'], ['Thurston'], ['Wakiakum'], ['Walla Walla'], ['Whatcom'], ['Whitman'], ['Yakima']], params[:service_area])
